* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

body {
  font-size: 18px;
}

img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

header {
  background-color: #2e354f;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  padding: 50px;
  color: #fff;
}

a {
  color: #ef5839;
}

.boldp {
  font-weight: bold;
}

h2 {
  font-size: 24px;
  margin: 50px 50px 20px 50px;
  color: #ef5839;
}

/* Section1 */
.container1 p {
  margin: 25px 50px 50px;
}

.conrainer-img {
  margin: 0 50px;
  height: 250px;
}

.para1 {
  margin-top: 25px;
}

/* Section2 */

.container2 {
  background-color: #2e354f;
  padding: 50px 0;
}

.container2 p {
  color: white;
  margin: 25px 50px 25px;
}

.container2 h2 {
  margin: 0 50px;
  color: #ef5839;
}

/* Button */
.btn-margin {
  margin: 0 0 0 50px;
}

.btn {
  margin: 0 15px 0 0;
  padding: 15px 30px;
  border: none;
  font-weight: bold;
  transition: 0.3s all;
}

.btn-orange {
  background-color: #ef5839;
  color: white;
}

.btn-orange:hover {
  background-color: #ec826d;
}

.btn-normal {
  background-color: white;
  color: black;
}

.btn-normal:hover {
  background-color: rgb(176, 174, 174);
}
