* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

body {
  font-size: 18px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 94%;
  object-fit: cover;
  height: 300px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  padding: 50px;
  color: #fff;
}

h2 {
  font-size: 24px;
  margin: 50px 50px 20px 50px;
  color: #ef5839;
}

header {
  background-color: #2e354f;
}
